* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #494d5f;
}

h1 {
    color: #e5eaf3;
    text-align: center;
    margin: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.container > * {
    width: 300px; 
    height: 150px; 
    margin: 15px; 
    background-color: #d0b0f4;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button{
    background-color: #a0d2eb;
    color:black;
    padding: 10px 15px;
    border-radius: 20px;
}

dialog{
    width: 450px;
    height: 200px;
    margin: auto;
    padding: 15px;
}

label{
    display: block;
    padding: 5px 0;
}

.button-container2{
    display: flex;
    justify-content:space-between;
    padding: 0 125px;
}

.book{
    padding: 15px;
}

.book *{
    margin: 5px 0;
}

.book button{
    padding: 5px 5px;
}